<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <style>
        html , body{
            font-size: 2rem;
        }
        body {
            text-align:center;
        }
        input[type="text"] {
            height: 2rem;
        }
        input[type="submit"]{
            margin: 1rem;
            font-size:2rem;
        }
    </style>
    <title></title>
</head>
<body>
    <form action="/words" method="post">
        Word1 <input type="text" name="string1" /> <br />
        Word2 <input type="text" name="string2" /> <br />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>